.header{
    width: 100%;
    display: flex;
    align-items: center;
    padding:10px 40px ;
    flex-direction: row-reverse;
    margin-bottom: 50px;
    margin-top: 10px;

}

/* #FFC727 yellow */

/* #263238 */

.header-image{
    width: 100%;
}

.header-image img{
    width: 100%;
}

.header-text{
    width: 100%;
}
.header-text h1{
    font-size: 48px;
    font-weight: 400;
}


.default-btn{
    background-color: #FFC727;
    padding:10px 20px;
    border:none;
    color:#263238;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}


@media screen and (max-width:1020px){
    .header-text h1{
        font-size: 35px;
        font-weight: 500;
    }

}


@media screen and (max-width:768px){
    .header{
        width: 100%;
        display: block;
        align-items: center;
        padding:15px 30px;
        margin-bottom: 50px;
    }
    .header-text h1{
        width: 80%;
        font-size: 35px;
        font-weight: 500;
    }
    .header-text p{
        font-size: 14px;
    }
}