.nav{
    margin:0;
    background-color:white;
    width: 100%;
    height: 12vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 40px;

}

.nav-img img{
    width: 50%
}
.nav-text a{
    font-size: 20px;
    text-decoration:none;
    color: #263238;
}

@media screen and (max-width:1020px){

    .nav{
    height: 10vh;
        padding: 5px 30px;
    
    }
    .nav-img img{
        width: 40%
    }
    .nav-text a{
        font-size: 15px;
    }
}