
.root{
    display: flex;
    align-items: center;
    background-color:black;
    color: aliceblue;
    height: 100vh;
}

.loginRoot{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom:50px ;
}

.navform{
    height: 10vh;
    box-shadow:none;
}

.imageflexer{
    display: flex;
    align-items: baseline;
}

.imageflexer h2{
    font-size: 50px;
}

.imageLogin{
    width: 100%;
    align-items: center;

}
.imageLogin img{
    width: 350px;
}
.formRoot{
    width: 80%;
}
.logForm{
    margin-left: 0px;
    width: 90%;
    height: auto;
    padding:20px 0;
    margin-top:20px;
    text-align: center;
    border-radius: 10px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


}

form{
    align-items:center;
    margin-bottom: 10px;
}
form input{
    width: 80%;
    border-radius: 5px;
    border: 0.5px solid black;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.logImg img{
    width: 70px;
    padding: 10px 0;
}

.bttn{
    width: 50%;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
}
.hori{
    display: block;
    margin: 10px;
}




.social h5{
    font-size: 15px;
    color: #263238;
}
.socIcons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
} 

.socIcons i{
    color:#263238;
    font-size: 18px;
}
.socIcons i:hover{
    color:#FFC727
}

.forgot{
    text-decoration: none;
    color:#263238 ;
}

/* #FFC727 yellow */

/* #263238 */

@media screen and (max-width:1020px) {
    .loginRoot{
        gap: 20px;

    }
    .imageLogin{
        width: 70%;
        align-items: center;
    
    }
    .imageLogin img{
        width: 200px;
    
    }
    .imageLogin h2{
font-size: 40px;
    
    }
    .imageLogin p{
font-size: 15px;
    
    }
    
    /* .imageLogin{
        display:none;
    } */

    .logForm{
        width: 100%;
        height:auto;
        margin-left: 0px;
        padding: 40px 0;

    }
    
}



@media screen and (max-width:768px) {

    

    .loginRoot{
        display: block;
        gap: 50px;
        align-items: center;
        /* margin-top:0px */

    }
    .imageLogin{
        display: none;   
     }
     .formRoot{
        width:100%
     }
     .logForm{
        width: 100%;
     }
    
}